* {
    padding: 0;
    margin: 0;
}

.logo {
    background-color: transparent;
    font-size: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    font-size: 40pt;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

nav {
    border-bottom: 1px solid black;
}

.bar ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    background-color: skyblue;
    list-style-type: none;
}

.box a {
    color: white;
    display: block;
    padding : 1em;
    text-decoration: none;
}

.box a:hover {
    background: #1565C0;
}




