* {
    padding: 0;
    margin: 0;

}

body {
    height: 100vh;
    width: 100vw;
    background-color: blueviolet;
}

nav {
    border-bottom: 1px solid black
}

.bar ul {
    list-style-type: none;
    display: flex;
    flex-wrap: row wrap;
    justify-content: flex-end;
    background-color: deepskyblue;
}

.box a {
    color: white;
    padding: 1em;
    display: block;
    text-decoration: none; 
}

.box a:hover {
    background: #1565C0;    
}

.navigation {
    display: flex;
    flex-wrap: row wrap;
    justify-content: flex-end;
    background-color: deepskyblue;
}

.navigation a {
    color: white;
    padding: 1em;
    display: block;
    text-decoration: none;
}

.navigation a:hover {
    background: #1565C0;
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }
    .navigation a {
        text-align: center;
        padding: 10px;

    }
}

