* {
    padding: 0;
    margin: 0;
}

body {
    height: 500vh;
    width: 99vw;
    background-color: blueviolet;
}

nav {
    border-bottom: 1px solid black;
}

.bar ul {
    list-style-type: none;
    display: flex;
    flex-wrap: row wrap;
    justify-content: flex-end;
    background-color: deepskyblue;
}

.box a {
    color: white;
    padding: 1em;
    display: block;
    text-decoration: none; 
}

.box a:hover {
    background: #1565C0;    
}

.logo {
    background-color: transparent;
    font-size: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    font-size: 40pt;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.navigation {
    display: flex;
    flex-wrap: row wrap;
    justify-content: flex-end;
    background-color: deepskyblue;
}

.navigation a {
    color: white;
    padding: 1em;
    display: block;
    text-decoration: none;
}

.navigation a:hover {
    background: #1565C0;
}

.fixed-overslider {
    display: flex;
    flex-wrap: nowrap;
}

.content-banner {
    width: 64vw;
    height: 1000px;
    margin-top: 40px;
    background-color: slategray;
    font-family: sofia-pro;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    letter-spacing: .01em;
    line-height: 2em;
    text-transform: none;
    margin-left: 4%;
}

.side-bar {
    width: 33vw;
    height: 1000px;
    margin-top: 40px;
    background-color: slategray;
    font-family: sofia-pro;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    letter-spacing: .01em;
    line-height: 2em;
    text-transform: none;
    margin-left: 4%;
}

.content {
    padding-left: 30px;
    padding-right: 25px;
    padding-top: 20px;
}

img {
    max-height: 90%;
    max-width: 95%;
    padding-left: 12px;
    padding-top: 10px;
    border-radius: 10px;

}

@media screen and (max-width: 1px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }
    .navigation a {
        text-align: center;
        padding: 10px;

    }
    li {
        flex-flow: column wrap;
        padding: 0;
    }
    li a {
        text-align: center;
        padding: 10px;

    }
}

@media screen and (max-width: 769px) {
    .navigation {
        justify-content: space-around;
    }
    nav {
        justify-content: space-around;
    }
}

