* {
    padding: 0;
    margin: 0;
}

body {
    height: 500vh;
    width: 99vw;
    background-color: blueviolet;
}

nav {
    border-bottom: 1px solid black;
}

.bar ul {
    list-style-type: none;
    display: flex;
    flex-wrap: row wrap;
    justify-content: flex-end;
    background-color: deepskyblue;
}

.box a {
    color: white;
    padding: 1em;
    display: block;
    text-decoration: none; 
}

.box a:hover {
    background: #1565C0;    
}

.logo {
    background-color: transparent;
    font-size: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    font-size: 40pt;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.navigation {
    display: flex;
    flex-wrap: row wrap;
    justify-content: flex-end;
    background-color: deepskyblue;
}

.navigation a {
    color: white;
    padding: 1em;
    display: block;
    text-decoration: none;
}

.navigation a:hover {
    background: #1565C0;
}

.fixed-overslider-home {
    display: flex;
    margin-bottom: 8%;
}

.content-banner {
    overflow: hidden; /* TO HIDE LOREM */
    width: 64vw;
    height: 75vh;
    margin-top: 40px;
    background-color: slategray;
    font-family: sofia-pro;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    letter-spacing: .01em;
    line-height: 2em;
    text-transform: none;
    margin-left: 4%;
}

.scrollable-bar {
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 33vw;
    height: 75vh;
    margin-top: 40px;
    background-color: slategray;
    margin-left: 4%;
}

.scrollable-bar::-webkit-scrollbar {
    display: none;
}

.content {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

img {
    max-height: 90%;
    max-width: 97.5%;
    padding-left: 2%;
    padding-top: 2%;
    border-radius: 10px;

}

.fixed-overslider {
    display: grid;
    background-color: grey;
    height: 70vh;
}

.subheading-message {
    place-self: center stretch;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    color: white;
}

.subheading-message p {
    font-size: 28px;
}

footer {
    display: block;
    position: fixed;
}

@media screen and (max-width: 1px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }
    .navigation a {
        text-align: center;
        padding: 10px;

    }
    li {
        flex-flow: column wrap;
        padding: 0;
    }
    li a {
        text-align: center;
        padding: 10px;

    }
}

@media screen and (max-width: 769px) {
    .navigation {
        justify-content: space-around;
    }
    nav {
        justify-content: space-around;
    }
}

