* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
  width: 100vw;
}

header {
  text-align: center;
  padding: 18px;
  font-size: 34px;
}

.selector {
  margin-left: 1%;
}

#options {
  font-size: 24px;
  padding: 6px 20px;
  text-align: center;
}

label {
  font-size: 28px;
  padding-right: 8px;
}

#get {
  height: 40px;
  width: 120px;
  margin-left: 8px;
  font-size: 24px;
  border-radius: 10px;
  border: none;
}

#movies {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.title {
  text-align: center;
  padding: 4%;
  width: auto;
  display: block;
}

.container button {
  display: block;
  margin: auto;
  height: 40px;
  width: 120px;
  margin-bottom: 3%;
  font-size: 24px;
  border-radius: 10px;
  border: none;
}

.title h1 {
  font-size: 64px;
}

.title h2 {
  font-size: 36px;
}

.description {
  text-align: center;
  width: auto;
  padding: 4%;
}

.description > * + * {
  margin-top: 12px;
}

img {
  display: block;
  width: 50vw;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}