* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #6272a4;
}

body {
  background-color: #282a36;
  width: 100vw;
}

header {
  padding: 18px;
  font-size: 34px;
  margin-bottom: 2em;
}

header div {
  background-color: #000;
  opacity: 0.5;
  border-radius: 10px;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selector {
  margin-left: 1%;
  text-align: center;
}

#options {
  font-size: 28px;
  padding: 12px 28px;
  text-align: center;
  border-radius: 10px;
}

label {
  font-size: 32px;
  padding-right: 8px;
}

#get {
  height: 58px;
  width: 140px;
  margin-left: 8px;
  font-size: 28px;
  border-radius: 10px;
  border: none;
}

#movies {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.title {
  text-align: center;
  padding: 4%;
  width: auto;
  display: block;
}

.description .container button {
  display: block;
  margin: auto;
  height: 40px;
  width: 120px;
  margin-bottom: 3%;
  font-size: 24px;
  border-radius: 10px;
  border: none;
}

.title h1 {
  font-size: 56px;
}

.title h2 {
  font-size: 36px;
}

.description {
  text-align: center;
  width: auto;
  padding: 4%;
}

.description > * + * {
  margin-top: 12px;
}

img {
  display: block;
  width: 35vw;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

#movies button {
  display: block;
  border-radius: 12px;
  border: none;
  width: 150px;
  height: 48px;
  font-size: 26px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 4rem;
}
